<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <%- messages() %>
            <%- register %>

                <%# Attach script.js here %>
                    <script src="/js/script.js"></script>