<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <% if (errors) { %>
            <ul class="warnings">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <!-- Render the registration form -->
                <%- register %>

                    <!-- Attach script.js -->
                    <script src="/js/script.js"></script>