<% const d=new Date() %>
  <% let year=d.getFullYear() %>

    <footer>

      <p class="copyright">&copy; <%= year %>, CSE 340 App | James Phillip De Guzman </p>
      <a href="/error-link" id="server-error">Error Link</a>
    </footer>