<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This web project demonstrates knowledge in HTML5, CSS3, JavaScript and EJS!">
    <meta name="author" content="James Phillip De Guzman">
    <meta property="og:title" content="<%-title %> | CSE 340 App">
    <meta property="og:description" content="Web project in CSE340 - Web Backend Development">
    <meta property="og:image" content="../images/site/icon.png">
    <meta property="og:url" content="https://cse340-backend-ogrs.onrender.com">
    <meta property="og:type" content="website">
    <meta property="og:site-name" content="https://cse340-backend-ogrs.onrender.com">
    <title><%-title %> | CSE 340 App</title>
    <link rel="icon" href="/images/site/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>