<hr>
<!-- <div id="landing-page"> -->
<h1>Welcome to CSE Motors</h1>
<figure>
    <img src="../images/vehicles/delorean.jpg" alt="hero image: delorean" height="350" width="600">
    <figcaption>The Delorean</figcaption>
</figure>
<!-- </div> -->