<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <%- messages() %>

            <ul class="management-links">
                <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a>
                </li>
                <li><a href="/inv/add-inventory" title="Add New Vehicle">Add New Vehicle</a></li>
            </ul>

            // TODO: Create Manage Classification here...
            <h2 id="manage-classification">Manage Classification</h2>
            <table id="classificationDisplay"></table>

            <h2 id="manage-inventory">Manage Inventory</h2>
            <p>Choose a classification to see those inventory items.</p>

            <div id="classificationContainer">
                <%- classificationSelect %>
            </div>

            <table id="inventoryDisplay"></table>
            <noscript>Javascript must be enabled to use this page.</noscript>

            <script src="/js/inventory.js"></script>